[submodule "cara-website"]
	path = cara-website
	url = git@github.com:colinkamanda/cara-website.git
[submodule "weather-App"]
	path = weather-App
	url = git@github.com:colinkamanda/weather-App.git
[submodule "MyWeatherAPP"]
	path = MyWeatherAPP
	url = git@github.com:colinkamanda/MyWeatherAPP.git
